# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# pkgdown site
docs/

# translation temp files
po/*~

# RStudio Connect folder
rsconnect/

data/processed/9_top3/

# Bootstrap indexes grandes
paper1_cluster/data/processed/04_1_propensity_bootstrap_eu_detailed/bootstrap_samples_index.csv
paper1_cluster/data/processed/04_2_propensity_bootstrap_eu_pfe_esn_renew_greens_merged/bootstrap_samples_index.csv
paper1_cluster/data/processed/04_3_propensity_bootstrap_tfg_blocks/bootstrap_samples_index.csv

# Archivos pesados generados
paper1_cluster/data/processed/**/bootstrap_samples_index.csv
.DS_Store
paper1_cluster/data/processed/06_kmeans_bootstrap/

paper1_cluster/data/processed/08_greedy_kmeans_efa/01_binary_patterns_pooled.csv
paper1_cluster/data/processed/08_greedy_kmeans_efa/02_pattern_frequency_pooled.csv
paper1_cluster/data/processed/04_2h_bootstrap_boxplots/bootstrap_boxplot_distribution_by_run_all_variables.csv
paper1_cluster/data/processed/04_2g_sociodemographic_distribution/sociodemographic_distribution_bootstrap_by_run.csv
